{% extends "base.html" %}

{% block content %}
<h1>Package Status</h1>
<table>
	<thead>
		<th>id</th>
		<th>sender</th>
		<th>recipient</th>
		<th>origin</th>
					<th>destination</th>
					<th>location</th>
	</thead>
		{% for package in packages %}
					<tr>
			<td>{{ package.id }}</td>
			<td>{{ package.sender }}</td>
			<td>{{ package.recipient }}</td>
			<td>{{ package.origin }}</td>
			<td>{{ package.destination }}</td>
			<td>{{ package.location }}</td>
		</tr>
					{% endfor %}
</table>
{% endblock %}